<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<mappers>
		<mapper resource="sql/testSQL.xml"/>
		<mapper resource="sql/memberSQL.xml"/>
		<mapper resource="sql/freebbsSQL.xml"/>
		<mapper resource="sql/classSQL.xml"/>
		<mapper resource="sql/classbbsSQL.xml"/>
		<mapper resource="sql/faqSQL.xml"/>
		<mapper resource="sql/qnaSQL.xml"/>
		<mapper resource="sql/designSQL.xml"/>
	</mappers>
</configuration>